#ext_menu-3 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-3 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-3 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-2 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-2 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-2 .mbr-article {
  color: #fff;
}
#ext_menu-5 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-5.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-5 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-5 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-s .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-s .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-s .mbr-article {
  color: #fff;
}
#header3-p H3 {
  text-align: center;
}
#ext_menu-6 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-6.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-6 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-6 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-f .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-f .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-f .mbr-article {
  color: #fff;
}
#content5-f .mbr-article P {
  color: #000000;
}
#testimonials1-b .mbr-reviews__author-name {
  color: #ffffff;
}
#testimonials1-b .mbr-reviews__author-bio {
  color: #ffffff;
}
#testimonials1-b .mbr-section__header {
  color: #ffffff;
}
#header3-h H3 {
  text-align: center;
}
#ext_menu-7 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-7.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-7 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-7 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-w .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-w .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-w .mbr-article {
  color: #fff;
}
#content5-1b .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-1b .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1b .mbr-article {
  color: #fff;
}
#ext_menu-8 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-8.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-8 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-8 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts2-16 STRONG {
  color: #ffffff;
}
#contacts2-16 P {
  color: #ffffff;
}
