#ext_menu-3 .mbr-brand__name {
  font-size: 16px;
}
#ext_menu-3.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-3 .mbr-navbar__section {
  background: #ffffff;
}
#ext_menu-3 .mbr-navbar__hamburger {
  color: #ffffff;
}
#content5-1s .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-1s .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1s .mbr-article {
  color: #fff;
}
#content5-1s .mbr-article P {
  color: #000000;
  text-align: center;
}
#content5-2b .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-2b .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-2b .mbr-article {
  color: #fff;
}
#content5-2b .mbr-article P {
  color: #000000;
  text-align: center;
}
#content5-2c .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-2c .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-2c .mbr-article {
  color: #fff;
}
#content5-2c .mbr-article P {
  color: #000000;
  text-align: center;
}
#testimonials1-1g .mbr-reviews__author-name {
  color: #ffffff;
}
#testimonials1-1g .mbr-reviews__author-bio {
  color: #ffffff;
}
#testimonials1-1g .mbr-section__header {
  color: #ffffff;
}
#content5-1t .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-1t .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-1t .mbr-article {
  color: #fff;
}
#content5-1t .mbr-article P {
  color: #000000;
  text-align: center;
}
#contacts2-16 STRONG {
  color: #ffffff;
}
#contacts2-16 P {
  color: #ffffff;
}
